Repository slavalslutkovsky/nx-playground: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, rustfmt, clippy, schema-gen, doc-deg, cargo-check

biome-check:
  run: bunx biome check --no-errors-on-unmatched {staged_files}
  stage_fixed: true

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --workspace -- -D warnings

schema-gen:
  run: cargo run --bin schema-gen && git add docs/schema.md docs/schema.dbml

doc-deg:
  run: cargo doc --workspace --no-deps --document-private-items

cargo-check:
  run: cargo check

chore(biome): update schema version and refine file include/exclude rules
  biome.json
Due: biome-check

chore(biome): update file rules and regenerate schema docs
  biome.json
  docs/schema.dbml
  docs/schema.md
Due: biome-check, doc-deg

chore(ci): remove unused Tekton pipeline and update type definitions
  .github/workflows/ci-generated.yml
  biome.json
  libs/domains/tasks/types/TaskStatus.ts
  libs/domains/tasks/types/UpdateTask.ts
  libs/rpc/types/apps/v1/agent_pb.ts
  libs/rpc/types/apps/v1/common_pb.ts
  libs/rpc/types/apps/v1/tasks_pb.ts
  libs/rpc/types/apps/v1/terran_pb.ts
  libs/rpc/types/apps/v1/users_pb.ts
  libs/rpc/types/apps/v1/vector_pb.ts
Due: biome-check

chore(ci): remove unused Tekton pipeline and update type definitions
  libs/domains/tasks/types/CreateTask.ts
  libs/domains/tasks/types/Task.ts
  libs/domains/tasks/types/TaskPriority.ts
Due: biome-check

chore(biome): regenerate schema docs and update process configuration
  .mise.toml
  Tiltfile
  apps/utils/schema-gen/src/generators/atlas.rs
  apps/utils/schema-gen/src/generators/mod.rs
  apps/utils/schema-gen/src/main.rs
  apps/zerg/api/src/grpc_pool.rs
  docs/schema.dbml
  docs/schema.hcl
  docs/schema.md
  lefthook.yml
  libs/domains/vector/src/embedding/openai.rs
  libs/domains/vector/src/embedding/vertexai.rs
  libs/domains/vector/src/models.rs
  libs/domains/vector/src/qdrant/client.rs
  libs/domains/vector/src/service.rs
  manifests/atlas/base/atlas-schema.yaml
  manifests/atlas/base/kustomization.yaml
  manifests/atlas/base/schema-configmap.yaml
  manifests/atlas/overlays/dev/kustomization.yaml
  manifests/atlas/overlays/prod/kustomization.yaml
  manifests/cnpg/base/cluster.yaml
  manifests/cnpg/base/kustomization.yaml
  manifests/cnpg/base/migration-job.yaml
  manifests/cnpg/base/namespace.yaml
  manifests/cnpg/base/scheduled-backup.yaml
  manifests/cnpg/overlays/dev/kustomization.yaml
  manifests/cnpg/overlays/prod/kustomization.yaml
  manifests/cnpg/overlays/staging/kustomization.yaml
  manifests/dockers/compose.yaml
  manifests/dockers/migration.Dockerfile
  mprocs.yaml
  target/rust-analyzer/metadata/workspace/Cargo.lock
Due: rustfmt, clippy, doc-deg, cargo-check

chore(ci): update Bun setup action to use `oven-sh` namespace and latest version
  .github/workflows/ci-optimized.yml
Due: none

chore: add CI Manager API and Web dependencies, adjust schema auto-generation timestamps, and comment out unused workflow steps
  .github/workflows/ci-optimized.yml
  Tiltfile
  apps/zerg/api/k8s/kustomize/base/deployment.yaml
  bun.lock
  docs/schema.dbml
  docs/schema.hcl
  docs/schema.md
  manifests/atlas/base/schema-configmap.yaml
Due: doc-deg

chore: add initial CI Manager API and Web implementations with routing, configuration, and UI setup
  .github/workflows/ci-optimized.yml
  apps/utils/ci-manager/api/package.json
  apps/utils/ci-manager/api/project.json
  apps/utils/ci-manager/api/src/data/languages.ts
  apps/utils/ci-manager/api/src/data/providers.ts
  apps/utils/ci-manager/api/src/index.ts
  apps/utils/ci-manager/api/src/routes/languages.ts
  apps/utils/ci-manager/api/src/routes/pipelines.ts
  apps/utils/ci-manager/api/src/routes/providers.ts
  apps/utils/ci-manager/api/tsconfig.json
  apps/utils/ci-manager/web/index.html
  apps/utils/ci-manager/web/package.json
  apps/utils/ci-manager/web/project.json
  apps/utils/ci-manager/web/src/components/language-selector.tsx
  apps/utils/ci-manager/web/src/components/provider-selector.tsx
  apps/utils/ci-manager/web/src/components/ui/button.tsx
  apps/utils/ci-manager/web/src/components/ui/card.tsx
  apps/utils/ci-manager/web/src/components/ui/checkbox.tsx
  apps/utils/ci-manager/web/src/index.css
  apps/utils/ci-manager/web/src/index.tsx
  apps/utils/ci-manager/web/src/lib/api-client.ts
  apps/utils/ci-manager/web/src/lib/utils.ts
  apps/utils/ci-manager/web/src/pages/home.tsx
  apps/utils/ci-manager/web/tsconfig.json
  apps/utils/ci-manager/web/vite.config.ts
Due: biome-check

chore(ci): update Bun setup action to use latest version with explicit namespace `oven-sh`
  .github/workflows/ci-optimized.yml
Due: none

chore(ci): restore and update CI build and container scan workflows, including Bun and Trivy setups
  .github/workflows/ci-optimized.yml
Due: none

added nu and kcl scripts.
  justfile
  scripts/kcl/ci/kcl.mod
  scripts/kcl/ci/kcl.mod.lock
  scripts/kcl/ci/main.k
  scripts/kcl/ci/presets/go_service.k
  scripts/kcl/ci/presets/nx_monorepo.k
  scripts/kcl/ci/presets/rust_single.k
  scripts/kcl/ci/presets/tanstack_app.k
  scripts/kcl/ci/presets/tauri_app.k
  scripts/kcl/ci/providers/github/main.k
  scripts/kcl/ci/providers/github/steps.k
  scripts/kcl/ci/providers/tekton/main.k
  scripts/kcl/ci/providers/tekton/schemas.k
  scripts/kcl/ci/providers/tekton/tasks.k
  scripts/kcl/ci/schemas/common.k
  scripts/kcl/ci/schemas/config.k
  scripts/nu/cluster.nu
  scripts/nu/common.nu
  scripts/nu/local-dev.nu
  scripts/nu/mod.nu
  scripts/nu/secrets.nu
  scripts/nu/setup.nu
Due: none

updated CI workflow and improved GCP integration.
  .cargo/config.toml
  .github/workflows/ci-optimized.yml
  apps/zerg/web/src/pages/login.tsx
Due: biome-check

added vector service integration to unified gRPC server.
  Cargo.lock
  Cargo.toml
  apps/zerg/api/Cargo.toml
  apps/zerg/api/src/api/mod.rs
  apps/zerg/api/src/api/vector.rs
  apps/zerg/api/src/main.rs
  apps/zerg/api/src/state.rs
  apps/zerg/tasks/Cargo.toml
  apps/zerg/tasks/src/lib.rs
  apps/zerg/tasks/src/server.rs
  apps/zerg/tasks/src/vector_service.rs
  apps/zerg/web/src/pages/login.tsx
  libs/domains/vector/Cargo.toml
  libs/domains/vector/src/conversions.rs
  libs/domains/vector/src/embedding/mod.rs
  libs/domains/vector/src/embedding/openai.rs
  libs/domains/vector/src/embedding/provider.rs
  libs/domains/vector/src/embedding/vertexai.rs
  libs/domains/vector/src/error.rs
  libs/domains/vector/src/handlers/direct.rs
  libs/domains/vector/src/handlers/mod.rs
  libs/domains/vector/src/lib.rs
  libs/domains/vector/src/models.rs
  libs/domains/vector/src/qdrant/client.rs
  libs/domains/vector/src/qdrant/config.rs
  libs/domains/vector/src/qdrant/mod.rs
  libs/domains/vector/src/repository.rs
  libs/domains/vector/src/service.rs
  libs/rpc/src/generated/agent/v1/agent.v1.rs
  libs/rpc/src/generated/agent/v1/agent.v1.tonic.rs
  libs/rpc/src/generated/mod.rs
  libs/rpc/src/generated/tasks/v1/tasks.v1.rs
  libs/rpc/src/generated/tasks/v1/tasks.v1.tonic.rs
  libs/rpc/src/generated/users/v1/users.v1.rs
  libs/rpc/src/generated/users/v1/users.v1.tonic.rs
  libs/rpc/src/generated/vector/mod.rs
  libs/rpc/src/generated/vector/v1/mod.rs
  libs/rpc/src/generated/vector/v1/vector.v1.rs
  libs/rpc/src/generated/vector/v1/vector.v1.tonic.rs
  target/rust-analyzer/metadata/workspace/Cargo.lock
Due: biome-check, rustfmt, clippy, cargo-check

added new domain libraries (messaging, email, tasks, vector) and grpc-client integration, updated dependencies.
  Cargo.toml
  libs/core/grpc/project.json
  libs/core/messaging/project.json
  libs/domains/tasks/Cargo.toml
  libs/domains/tasks/project.json
  libs/domains/vector/project.json
  libs/notifications/email/project.json
  target/rust-analyzer/metadata/workspace/Cargo.lock
Due: biome-check

removed custom output paths from project configurations across all libraries and apps, simplified container targets
  apps/zerg/api/project.json
  apps/zerg/email-nats/project.json
  apps/zerg/tasks/project.json
  libs/core/axum-helpers/project.json
  libs/core/config/project.json
  libs/core/field-selector/project.json
  libs/core/grpc/project.json
  libs/core/messaging/project.json
  libs/core/proc_macros/api_resource/project.json
  libs/core/proc_macros/project.json
  libs/core/proc_macros/sea_orm_resource/project.json
  libs/core/proc_macros/selectable_fields/project.json
  libs/database/project.json
  libs/domains/cloud_resources/project.json
  libs/domains/projects/project.json
  libs/domains/tasks/project.json
  libs/domains/users/project.json
  libs/domains/vector/project.json
  libs/migration/project.json
  libs/notifications/email/project.json
  libs/rpc/project.json
  libs/testing/test-utils/project.json
Due: biome-check

removed generated `Cargo.lock` files from rust-analyzer targets for sysroot and workspace.
  .gitignore
  target/rust-analyzer/metadata/sysroot/Cargo.lock
  target/rust-analyzer/metadata/workspace/Cargo.lock
Due: none

formatted imports and resolved lint warnings across multiple modules, improved code readability.
  apps/zerg/api/src/api/vector.rs
  apps/zerg/api/src/main.rs
  apps/zerg/tasks/src/server.rs
  apps/zerg/tasks/src/vector_service.rs
  libs/core/grpc/src/server/config.rs
  libs/core/grpc/src/server/mod.rs
  libs/domains/tasks/src/entity.rs
  libs/domains/tasks/src/handlers/direct.rs
  libs/domains/tasks/src/handlers/grpc.rs
  libs/domains/tasks/src/handlers/mod.rs
  libs/domains/users/Cargo.toml
  libs/domains/vector/src/handlers/direct.rs
  libs/domains/vector/src/handlers/mod.rs
  libs/domains/vector/src/qdrant/client.rs
  libs/notifications/email/Cargo.toml
  manifests/grpc/buf.gen.yaml
  manifests/grpc/buf.yaml
Due: rustfmt, clippy, schema-gen, cargo-check

removed schema-gen and migration modules along with associated dependencies and generators. Cleaned up project structure.
  apps/zerg/api/k8s/kustomize/base/external-secret.yaml
  apps/zerg/api/k8s/kustomize/base/kustomization.yaml
  apps/zerg/api/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/api/k8s/kustomize/overlays/prod/kustomization.yaml
  apps/zerg/email-nats/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/web/src/components/SocialLogin.tsx
  apps/zerg/web/src/index.tsx
  apps/zerg/web/src/lib/api-client.ts
  apps/zerg/web/src/lib/auth-api.ts
  libs/domains/users/src/auth_handlers.rs
  libs/domains/users/src/oauth/types.rs
  manifests/k8s/base/namespace.yaml
Due: biome-check, rustfmt, clippy, cargo-check

added NATS connection retry logic, health state tracking for Kubernetes probes, externalized configs, and introduced shared secrets.
  Tiltfile
  apps/zerg/api/Tiltfile
  apps/zerg/api/k8s/kustomize/base/deployment.yaml
  apps/zerg/api/k8s/kustomize/base/kustomization.yaml
  apps/zerg/api/k8s/kustomize/overlays/dev/.gitignore
  apps/zerg/api/k8s/kustomize/overlays/dev/external-secret.yaml
  apps/zerg/api/k8s/kustomize/overlays/dev/kustomization-ingress.yaml
  apps/zerg/api/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/api/k8s/kustomize/overlays/dev/secrets.env.example
  apps/zerg/api/k8s/kustomize/overlays/prod/external-secret.yaml
  apps/zerg/api/k8s/kustomize/overlays/prod/kustomization.yaml
  apps/zerg/email-nats/Tiltfile
  apps/zerg/email-nats/k8s/kustomize/base/deployment.yaml
  apps/zerg/email-nats/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/email-nats/k8s/kustomize/overlays/prod/external-secret.yaml
  apps/zerg/email-nats/k8s/kustomize/overlays/prod/kustomization.yaml
  apps/zerg/email-nats/src/lib.rs
  apps/zerg/shared/Tiltfile
  apps/zerg/shared/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/shared/k8s/kustomize/overlays/prod/external-secret.yaml
  apps/zerg/shared/k8s/kustomize/overlays/prod/kustomization.yaml
  apps/zerg/shared/k8s/kustomize/overlays/staging/kustomization.yaml
  apps/zerg/tasks/Tiltfile
  apps/zerg/tasks/k8s/kustomize/base/deployment.yaml
  apps/zerg/tasks/k8s/kustomize/overlays/dev/kustomization.yaml
  apps/zerg/tasks/k8s/kustomize/overlays/prod/kustomization.yaml
  apps/zerg/web/vite.config.ts
  libs/core/messaging/src/nats/health.rs
  libs/core/messaging/src/nats/worker.rs
  manifests/k8s/base/gateway/zerg-api.yaml
  manifests/k8s/base/namespace.yaml
  scripts/nu/cluster.nu
Due: biome-check, rustfmt, clippy, cargo-check

added KCL CLI installation step to CI workflows
  .github/workflows/ci-optimized.yml
Due: none

commented out disk space cleanup step in CI workflows
  .github/workflows/ci-optimized.yml
Due: none

commented out redundant disk space cleanup step in CI workflows
  .github/workflows/ci-optimized.yml
Due: none

updated README with detailed project overview, architecture, prerequisites, setup instructions, and developer workflows. Restructured content for clarity and added links to documentation.
  README.md
Due: none

removed commented-out `jobs` configuration from `.cargo/config.toml`
  .cargo/config.toml
Due: none

added GitHub Actions workflow for container release process, including support for building, scanning, and releasing tagged versions.
  .github/workflows/release-containers.yml
Due: none

upgraded dependencies in `Cargo.toml` and `Cargo.lock` to latest compatible versions
  Cargo.lock
  Cargo.toml
Due: none

removed unused dependencies from `Cargo.toml` to clean up configuration
  Cargo.toml
Due: none

refactored rate-limiting functionality by removing unused methods from `RateLimiter`, simplifying error handling using `AppError`, and enhancing middleware with per-route configurations
  .gitignore
  apps/zerg/api/src/api/mod.rs
  libs/core/axum-helpers/src/rate_limit/middleware.rs
  libs/core/axum-helpers/src/rate_limit/mod.rs
Due: rustfmt, clippy, cargo-check

added Redis-backed rate-limiting tests, improved middleware with fallback logging for client IP, upgraded dependencies (`quote`, `tokio`), and updated environment/configuration for low-rate testing
  .envrc
  Cargo.lock
  Cargo.toml
  apps/zerg/web/vite.config.ts
  libs/core/axum-helpers/Cargo.toml
  libs/core/axum-helpers/src/rate_limit/middleware.rs
  libs/core/axum-helpers/tests/rate_limit_test.rs
  libs/domains/users/src/auth_handlers.rs
Due: biome-check, rustfmt, clippy, cargo-check

simplified error handling by removing redundant `error.error?.message` lookups in registration and login flows
  apps/zerg/web/src/lib/auth-api.ts
Due: biome-check

added `force_all` input to `release.yml` for optional full builds, improved Rust toolchain setup, optimized project version bumping logic, and streamlined tag creation process
  .github/workflows/release.yml
Due: none

removed unused nginx and proxy-environment config maps; updated Dockerfile to include default nginx template path
  apps/zerg/web/k8s/kustomize/base/deployment.yaml
  apps/zerg/web/k8s/kustomize/base/kustomization.yaml
  manifests/dockers/Dockerfile
  manifests/dockers/default.conf.template
Due: none

moved database assets to `manifests/db/zerg`; updated schema for PostgreSQL 18 compatibility and added OAuth ID fields; removed unused `just` cluster lifecycle tasks
  justfile
  manifests/db/README.md
  manifests/db/db.just
  manifests/db/migrations/20260424191816_initial.down.sql
  manifests/db/migrations/20260424191816_initial.up.sql
  manifests/db/zerg/k8s/migrations-configmap.yaml
  manifests/db/zerg/migrations/20260424191816_initial.down.sql
  manifests/db/zerg/migrations/20260424191816_initial.up.sql
  manifests/db/zerg/schema.sql
  manifests/db/zerg/seed.sql
Due: none

modularized `zerg` database manifests: introduced base and overlay kustomizations for dev and prod environments; updated tooling and readme to reflect new structure
  manifests/db/README.md
  manifests/db/db.just
  manifests/db/zerg/k8s/base/atlas-migration.yaml
  manifests/db/zerg/k8s/base/kustomization.yaml
  manifests/db/zerg/k8s/base/migrations-configmap.yaml
  manifests/db/zerg/k8s/overlays/dev/kustomization.yaml
  manifests/db/zerg/k8s/overlays/prod/kustomization.yaml
Due: none

removed legacy `mydatabase` migration files and seed data; cleaned up outdated documentation and atlas configuration references
  manifests/db/zerg/migrations/atlas.sum
  manifests/migrations/README.md
  manifests/migrations/mydatabase/.gitkeep
  manifests/migrations/mydatabase/20240204000001_initial.sql
  manifests/migrations/mydatabase/20240204000002_seed_data.sql
  manifests/migrations/mydatabase/20240205000001_add_project_repository.sql
  manifests/migrations/mydatabase/20240205000002_add_oauth_ids_to_users.sql
  manifests/migrations/mydatabase/atlas.sum
Due: none

added `20260424191816_initial.down.sql` migration for reverting initial `zerg` database schema; updated Atlas checksum manifest and `just` tasks for consistent migration file hashing
  manifests/db/db.just
  manifests/db/zerg/k8s/base/migrations-configmap.yaml
Due: none

removed `20260424191816_initial.down.sql` migration for reverting `zerg` schema; updated Atlas checksum manifest and adjusted `just` tasks to align with forward-only migration strategy
  manifests/db/db.just
  manifests/db/zerg/k8s/base/migrations-configmap.yaml
  manifests/db/zerg/migrations/20260424191816_initial.down.sql
  manifests/db/zerg/migrations/atlas.sum
Due: none

updated SMTP service port names and added explicit TCP protocols in dev overlay
  apps/zerg/email-nats/k8s/kustomize/overlays/dev/smtp.yaml
Due: none

Path conditions:
  biome-check: any of: *.{js,ts,tsx,json}
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  schema-gen: any of: libs/domains/*/src/entity.rs
  doc-deg: any of: docs/schema.dbml
  cargo-check: any of: *.rs
